<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <title>Hello, Flask</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
  <link rel="icon"
        type="image/x-icon"
        href="{{url_for('static', filename='favicon.ico')}}">
  <link rel="stylesheet"
        href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
  <div class="container-fluid">
    <h1>Hello, World!</h1>
    <div class="link-section">
      <a href="https://www.google.com.tw"
         class="out-link"
         target="_blank">Google Official</a>
    </div>
    <button type="button"
            class="btn btn-success mt-3"
            onclick="alert('Hello, Flask!')">Hello!</button>
    <button type="button">CCC</button>
  </div>

</body>
<style>
  body {
    font-family: sans-serif;
  }

  .out-link {
    text-decoration: none;
    color: beige;
  }

  .out-link:hover {
    text-shadow: 1px 1px 2px grey;
    font-size: 1.2rem;
  }

  .link-section {
    height: 100px;
    width: 150px;
    background-color: maroon;
    text-align: center;
    line-height: 100px;
  }
</style>

</html>